{
  "extends": ["@exeto", "@exeto/react", "prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "react/prop-types": [
      "error",
      {
        "ignore": ["classes"],
        "customValidators": [],
        "skipUndeclared": false
      }
    ]
  }
}
