{
  "extends": ["@exeto", "@exeto/react", "prettier"],
  "rules": {
    "react/prop-types": [
      "error",
      {
        "ignore": ["classes"],
        "customValidators": [],
        "skipUndeclared": false
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
